body{
  background-color: lightgrey;
}
div{
  outline-style:solid;
  outline-color:grey;
  outline-width:15px;
}

h2{
  padding-top:10px;
}
table{
  border-collapse:collapse;
}
table,td {
  border:2px solid black;
}
frameset,frame{
  frameborder:0px;
}
#abc{
  outline-color:black;
  outline-width:5px;
}
#p1{
   font-family: sans-serif;
  padding: 20px;
  background-color: lightseagreen;
  color: white;
  text-align: justify;
  width:300px;
  border-radius: 25px;
}
